/*
 * I think this file deserves a bit of documentation on why it's on
 * its own and not integrated with the rest of the scss files. The
 * reason is basically that this file should be very easily editable
 * to allow for easy theming. Eventually, the goal is to have users
 * be able to load in their own (compiled) version of this file on
 * the fly along with some other css files to be able to have their
 * own theme.
 */

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: local("Material Icons"),
		local("MaterialIcons-Regular"),
		url("../icons/MaterialIcons-Regular.woff2") format("woff2"),
		url("../icons/MaterialIcons-Regular.woff") format("woff")
}

.icon {
	font-family: "Material Icons" !important;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	&.dark {
		color: #B6B6B6;
	}

	&.light {
		color: white;
	}
}
