@import "colors";
@import "icon";

* {
	font-family: 'Lato', sans-serif !important;
}

body {
	padding: 0;
	margin: 0;
	background: $foreground;
	overflow: hidden;
}

// For fixing React events which are totally
// broken without this for some reason.
#app {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#renderContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#mainCard {
	max-width: 350px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#tilesetSelectorContainer {
	font-size: 0;
	float: left;
}

#addLayerButton {
	float: right;
}

body > input {
	position: fixed; // This is for the focus hack. Should be removed later when fixed.
}
